{% extends 'base.html' %}
{% load staticfiles %}
{% block pageContent %}
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Mapa atrakcji</h2>
      <h5>Zobacz ciekawe miejsca na mapie</h5>
      <div class="fakeimg">tu bedzie mapa gugla</div>
      <h4>CHUJESOS</h4>
      <p>"Traveler XD" to serwis z ciekawymi atrakcjami z Twojej okolicy. Przeglądaj je, dodawaj do tras, ruszaj w świat!</p>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Najnowsze atrakcje</h2>
      <h5>Zobacz co przygotowaliśmy</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
  </div>
</div>
{% endblock %}